<form (ngSubmit)="onFormSubmit(titleInput.value, requestInput.value)" #form>
  <app-controls label="Title">
    <input name="title" id="title" [(ngModel)]="enteredTitle" #titleInput #input />
  </app-controls>
  <app-controls label="Request">
    <textarea name="request" id="request" [(ngModel)]="enteredRequest" #requestInput rows="3" #input></textarea>
  </app-controls>
  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">
        ⌲
      </span>
    </button>
  </p>
</form>
<!-- 

  #input
  we can have same template reference variable
  for same in order to use in the content child

-->